<div class="sidebar-wrapper">
    <div class="logo" style="margin-bottom: 0px; padding-bottom: 11px;">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/logo_medusa.png" alt="">
            </div>
            <span class="greek-font">Medusa</span>
        </a>
    </div>

    <ul class="nav">
        <mat-nav-list>
            <a mat-list-item routerLink="pdv" class="greek-font">Registrar visita</a>
            <a mat-list-item routerLink="clientes" class="greek-font">Clientes</a>
            <a mat-list-item routerLink="promociones" class="greek-font">Promociones</a>
        </mat-nav-list>
        <!-- <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a routerLink="flights">
        <i class="ti-arrow-top-right"></i>
        <p>Flights</p>
      </a>
    </li> -->

        <!--
    <li>
        <a routerLink="passenger-search">
            <i class="ti-user"></i>
            <p>Passengers</p>
        </a>
    </li>
-->

        <!-- <li>
      <a routerLink="hotels">
        <i class="ti-arrow-top-right"></i>
        <p>Hotels</p>
      </a>
    </li> -->
        <!--
        <li routerLinkActive="active">
        <a>
            <i class="ti-close"></i>
            <p>Hide Basket</p>
        </a>
        </li>
    -->

    </ul>
</div>