<mat-tab-group>
  <mat-tab label="Registro de visitas">
    <table *ngFor="let visita of visitas">
      <thead>
        <tr>
          <th>No.</th>
          <th>Fecha</th>
      </thead>
      <tbody>
        <td>
          {{visita.contador}}
        </td>
        <td>{{visita.fecha_agendada}}</td>
      </tbody>
     
    </table>

  </mat-tab>
  <mat-tab label="Registrar Visitas">
    <form [formGroup]="profileForm">
      <div class="example-container">
        <mat-form-field appearance="fill" style="width: 350px">
          <mat-label>Usuario</mat-label>
          <input
            matInput
            type="text"
            class="example-right-align"
            placeholder="Usuario de instagram del cliente"
            formControlName="nombreUsuario"
          />
          <span matPrefix>@&nbsp;</span>
        </mat-form-field>
        <button
          (click)="buscarCliente()"
          style="width: 250px; margin-left: 10px; height: 35px"
          type="button"
          mat-raised-button
        >
          Buscar Cliente
        </button>
        <mat-card
          class="example-card"
          style="float: right; margin-right: 50px; visibility: hidden"
          id="ProfileData"
        >
          <mat-card-title style="text-align: center"
            >Cliente: @{{ dataSource.nombre_usuario }}</mat-card-title
          >
          <mat-card-content>
            <p><strong>Nombre: </strong>{{ dataSource.nombre_completo }}</p>
            <br />
            <p><strong>Correo: </strong>{{ dataSource.email }}</p>
            <br />
            <p><strong>Edad: </strong>{{ dataSource.edad }}</p>
            <br />
            <p><strong>Fecha Registro: </strong>{{ dataSource.fecha_registro }}</p>
            <br />
            <p><strong>Telefono: </strong>{{ dataSource.tel }}</p>
            <br />
          </mat-card-content>
        </mat-card>
        <br />
        <mat-form-field appearance="fill" style="width: 350px">
          <mat-label>Fecha Visita</mat-label>
          <input
            matInput
            type="date"
            class="example-right-align"
            placeholder="Fecha visita"
            formControlName="fechaVisita"
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" style="width: 350px">
          <mat-label>Quien Atiende</mat-label>
          <mat-select formControlName="iduser">
            <mat-option value={{item.id_usuario}} *ngFor="let item of userinf">{{item.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width: 600px">
          <mat-label>Comentarios</mat-label>
          <input
            matInput
            type="text"
            class="example-right-align"
            placeholder="Comentarios"
            formControlName="comentarios"
          />
          <span matPrefix>&nbsp;</span>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width: 600px">
          <mat-label>Servicios</mat-label>
          <input
            matInput
            type="text"
            class="example-right-align"
            placeholder="Servicios que se realizaron"
            formControlName="servicios"
          />
          <span matPrefix>&nbsp;</span>
        </mat-form-field>
        <br>
        <mat-form-field  appearance="fill" style="width: 350px">
          <mat-label>Promoción</mat-label>
          <mat-select formControlName="idpromo">
            <mat-option value="{{item.id_promocion}}" *ngFor="let item of promodata_">{{item.promociondescripcion}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width: 350px">
          <mat-label>Monto total cobrado</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0" formControlName="total">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <button (click)="guardarVisita()"style="width: 250px; margin-left: 10px; height: 35px"
          type="button" mat-raised-button>
          Guardar visita
        </button>
      </div>
      <div style="float: right"></div>
    </form>
    
  </mat-tab>
</mat-tab-group>
