<div class="container">
    <div>
        <img src="../../../assets/img/logo-medusa-nuevo.png" alt="Medusa" class="sizeimg">
    </div>
    <!-- <div style='margin-left:60px;'></div> -->
    <div>
        <!-- <img src="../../../assets/img/Letra-medusa-en-negro.png" alt="MedusaLetra" class="sizeimg2"> -->
        <h2>
            <p class="greek-font">MEDUSA</p>
        </h2>
    </div>
</div>

<div>
    <br>
    <br>
</div>

<div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>