<div class="container">
  <div>
    <img
      src="../../../assets/img/logo-medusa-nuevo.png"
      alt="Medusa"
      class="sizeimg"
    />
  </div>
  <!-- <div style='margin-left:60px;'></div> -->
  <div>
    <!-- <img src="../../../assets/img/Letra-medusa-en-negro.png" alt="MedusaLetra" class="sizeimg2"> -->
    <h2>
      <p class="greek-font">MEDUSA</p>
    </h2>
  </div>
</div>

<div>
  <br />
  <br />
</div>

<div>
  <div (click)="showVisitInfo($event)" id=1 class="dot"></div>
  <div (click)="showVisitInfo($event)" id=2 class="dot"></div>
  <div (click)="showVisitInfo($event)" id=3 class="dot"></div>
  <div (click)="showVisitInfo($event)" id=4 class="dot"></div>
  <div (click)="showVisitInfo($event)" id=5 class="dot"></div>
  <div (click)="showVisitInfo($event)" id=6 class="dot"></div>
</div>
<div id="dato1" style="height: 50px; width: 50px;" class="ocultar">
    <p>{{infoVisita}}</p>
</div>

<div class="fixed-button">
  <a href="https://m.facebook.com/MedusaLasshess/">
    <button type="button" class="btn btn-primary btn-lg btn-floating">
      <i class="fab fa-facebook-f"></i>
    </button>
  </a>
  <a href="https://instagram.com/medusalasshess?utm_medium=copy_link">
    <button
      type="button"
      class="btn btn-primary btn-lg btn-floating"
      style="background-color: #ac2bac"
    >
      <i class="fab fa-instagram"></i>
    </button>
  </a>
  <a href="https://wa.me/message/VJHQWZCLOXERO1">
    <button
      type="button"
      class="btn btn-primary btn-lg btn-floating"
      style="background-color: #25d366"
    >
      <i class="fab fa-whatsapp"></i>
    </button>
  </a>
</div>

