.dot {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    margin-left: 2.8vw;
    margin-right: 0vw;
}

.sizeimg2 {
    height: 50px;
    width: 250px;
    padding-top: 10px;
}

.sizeimg {
    height: 70px;
    width: 70px;
    margin-left: 1vw;
    float: left;
    margin-top: 10px;
}

.greek-font {
    font-family: 'Durant';
    font-weight: normal;
    font-style: normal;
    font-size: 150%;
}

.container {
    width: 100%;
    height: auto;
    padding: 1%;
}

h2 {
    margin-left: 35vw;
    margin-top: 22px;
}

.btn-lg{
  height: 50px;
  width: 50px;
  font-size: 15pt;
}
.fixed-button{
  position:fixed;
  bottom: 2vh;
  justify-content: space-evenly;
}
.btn-primary{
  margin-left: 15vw;
  margin-right: 0vw;
}