<div class="container">
  <!-- Cargando... -->
  <div *ngIf="loading" class="overlay">
    <i class="fa fa-spinner fa-spin"></i> Cargando...
  </div>

  <!-- Tabla de vehículos -->
  <div *ngIf="!loading">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID Vehículo</th>
        
          <th>Marca</th>
          <th>Modelo</th>
          <th>Color</th>
          <th>No Serie</th>
          <th>Placa</th>
          <th>Tipo</th>
          <th>Motor</th>
          <th>Kms</th>
          <th>Descargar</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculos">
          <td>{{ vehiculo.ID }}</td>
         
          <td>{{ vehiculo.Marca }}</td>
          <td>{{ vehiculo.Modelo }}</td>
          <td>{{ vehiculo.Color }}</td>
          <td>{{ vehiculo.No_serie }}</td>
          <td>{{ vehiculo.Placa }}</td>
          <td>{{ vehiculo.Tipo }}</td>
          <td>{{ vehiculo.Motor }}</td>
          <td>{{ vehiculo.Kms }}</td>
          <td>
            <button class="btn btn-primary" (click)="descargarDocumento(vehiculo.ID)">Descargar</button>
          </td>
          <td [ngClass]="vehiculo.Activo === 1 ? 'text-success' : 'text-danger'">
            {{ vehiculo.Activo === 1 ? 'Activo' : 'Inactivo' }}
          </td>         
          <td class="action-buttons">
            <button class="btn-accept" (click)="abrirModal(vehiculo)" title="Confirmar">
              <i class="fa fa-check">✔</i>
            </button>
            <button class="btn-reject" (click)="abrirModal(vehiculo)" title="Denegar">
              <i class="fa fa-times">❌</i>
            </button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

   <!-- Modal de confirmación -->
  <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
      <h2>Confirmar acción</h2>
      <p>
        ¿Estás seguro de que deseas cambiar el estado de
        <strong>{{ selectedVehiculo?.Marca }} {{ selectedVehiculo?.Modelo }}</strong>
        ?
      </p>
      <div class="modal-actions">
        <button class="btn btn-success" (click)="actualizarEstadoVehiculo(true)">
          Activar
        </button>
        <button class="btn btn-danger" (click)="actualizarEstadoVehiculo(false)">
          Desactivar
        </button>
        <button class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
